@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">velkommen til Jordnær</h1>
    <h5> her kan du se de nyeste opslag på vores blog eller hvilke begivender vi vil holde.</h5>
</div>
