@using SemesterProjekt_2.Interfaces;
@using SemesterProjekt_2.Models;
@using SemesterProjekt_2.Services;
@inject IMemberService memberservice
@inject IHttpContextAccessor http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SemesterProjekt_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SemesterProjekt_2.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["ErrorMessage"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["ErrorMessage"]");

            };
        </script>
        ViewData["ErrorMessage"] = null;
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SemesterProjekt_2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{

                    string email = http.HttpContext.Session.GetString("email");
                    string password = http.HttpContext.Session.GetString("password");
                    

                }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BlogPosts/GetAllBlog">Blog</a>
                        </li>
                        @if(email==null & password==null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Login</a>
                            </li>
                        }
                        else
                        {

                            Member User = memberservice.LoginMemberAsync(email, password).Result;
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Members/GetAllMembers">Member</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Events/GetAllEvents">Event</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Shifts/GetAllShifts">Shifts</a>
                            </li>
                            <li class="nav-item" class="float-right" style="font-size: medium">
                                 <a class="nav-link text-dark" asp-area="" asp-page="/Members/HomePage"> Hej @User.Name Velkommen til Jordnær</a>
                            </li>
                            <li class="nav-item" class="float-right" style="font-size: medium">
                                 <a class="nav-link text-dark" asp-area="" asp-page="/Login/Logout">Logout</a>
                            </li>

                        }

                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SemesterProjekt_2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>