@page
@model SemesterProjekt_2.Pages.Login.LogoutModel
@{
    ViewData["title"] = "logout";
}

<p> du logger nu ud af Jordnær er du sikker på at du gerne vil logges ud</p>

<form method="post">
    <div class="form-check-group">
        <input type="submit" value="ja" class="btn-block btn btn-primary" />
    </div>
</form>