@page
@model SemesterProjekt_2.Pages.BlogPosts.GetAllBlogModel
@{
    ViewData["title"] = "GetAllBlog";
}


@if(Model.User.MemberID!=-1)
{
    <a asp-page="AddBlogPost">lav en ny blogpost</a>
}


<table class="table">
    <thead>
        <th>
            BlogPost
        </th>
        <th>
            Image
        </th>
    </thead>
    <tbody>
        @foreach(var item in Model.Posts)
        {
            <tr>
                <td>
                     <textarea rows="6" cols="50" align-content=left readonly>
                        @item.BlogPost

                     </textarea>
                </td>
                <td>
                    <img src="~/Images/@item.Image" class="rounded-circle" width="80" height="70" />
                </td>
                @if(Model.User.MemberID==item.memberID)
                {
                    <td>
                        <a asp-page="DeleteBlogPost" asp-route-id="@item.BlogID">slet</a> | <a asp-page="UpdateBlogPost" asp-route-id="@item.BlogID">opdater</a>
                    </td>
                    
                }

            </tr>  
        }

    </tbody>
</table>
