@page
@model SemesterProjekt_2.Pages.BlogPosts.GetAllBlogModel
@{
    ViewData["title"] = "GetAllBlog";
}

@if(Model.User.MemberID!=-1)
{
    <a asp-page="AddBlogPost" class="form-control"> Add Post</a>
}


<table class="table">
    <thead>
        <th>
            BlogPost
        </th>
        <th>
            Image
        </th>
    </thead>
    <tbody>
        @foreach(var item in Model.Posts)
        {
            <tr>
                <td>
                    @item.BlogPost
                </td>
                <td>
                    @item.Image
                </td>
                @if(Model.User.MemberID==item.memberID)
                {
                    <td>
                        <a asp-page="DeleteBlogPost" asp-route-id="@item.BlogID">delete</a> | <a asp-page="UpdateBlogPost" asp-route-id="@item.BlogID"> update</a>
                    </td>
                    
                }

            </tr>  
        }

    </tbody>
</table>
