@page
@model SemesterProjekt_2.Pages.Medlemmer.GetAllMembersModel
@{
    ViewData["title"] = "GetAllMembersModel";
}

<table class="table">
    <thead>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </thead>

</table>